@charset "utf-8";

/* colocar paleta de cores aqui: */
/* .color1 { #3a493b }; ver cinzento*/
/* .color2 { #45683c };verde pastel */
/* .color3 { #21572d }; verde forte */
/* .color4 { #356441 }; verde mais escuro*/
/* .color5 { #123f15 }; verde forte arvore */
/* .color6 { #398159 }; verde clarin */

/* device breakpoints */
/* mobile 600 px  */
/* tablet 768 px */
/* desktop 992 px */
/* smart_tv 1200 px */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #41494270, #e7bfa5);
    background-repeat: repeat;
    background-position: top;
    background-attachment: scroll;
    background-image: url("../fundo.index.jpeg");
}

header {
    background-color: #6e6e6e00;
    margin-top: 3px;
    border-radius: 7px 7px 0px 0px;
    width: 90vw;
    margin: auto;
}

header>h1 {
    text-align: center;
    color: #ffffff;
    padding: 3px;
    text-shadow: #5c5c5c2f 5px 5px 10px;
    margin-top: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#burguer {
    background-color: #123f1500;
    display: block;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 7px;
    width: 90vw;
    cursor: pointer;
    border-radius: 0px 0px 7px 7px;
}

#burguer:hover {
    background-color: #123f1500;
}

menu {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    width: 90vw;
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    display: none;
}

menu>ul {
    list-style-type: none;
}

menu>ul>li>a {
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: #30303025;
    border-radius: 7px 7px 7px 7px;
    color: whitesmoke;
    margin: auto;
    display: block;
}

menu>ul>li>a:hover {
    background-color: #39815900;
    color: whitesmoke;
    text-decoration: none;
    padding: 7px;
    width: 90vw;
}

main {
    background-color: #3a493b00;
    width: 90vw;
    height: 100%;
    margin: auto;
    border-radius: 7px 7px 0px 0px;
    margin-top: 7px;
    padding: 30px;
    text-align: center;
}

span>#material-symbols-outlined {
    font-size: 30px;
    display: flex;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    

}

a:hover {
    color: #000000;
}

#Botao {
    /* Estilos para o botão */
    background-color: #2f312f93;
    /* Cor de fundo */
    color: #000000;
    /* Cor do texto */
    padding: 25px;
    /* Espaçamento interno */
    border: none;
    /* Sem borda */
    border-radius: 100px;
    /* Arredondamento das bordas */
    cursor: pointer;
    /* Cursor em forma de mão */
}

#Botao2 {
    /* Estilos para o botão */
    background-color: #2f312f93;
    /* Cor de fundo */
    color: #000000;
    /* Cor do texto */
    padding: 25px;
    /* Espaçamento interno */
    border: none;
    /* Sem borda */
    border-radius: 100px;
    /* Arredondamento das bordas */
    cursor: pointer;
    /* Cursor em forma de mão */
}

#Botao3 {
    /* Estilos para o botão */
    background-color: #2f312f93;
    /* Cor de fundo */
    color: #000000;
    /* Cor do texto */
    padding: 25px;
    /* Espaçamento interno */
    border: none;
    /* Sem borda */
    border-radius: 100px;
    /* Arredondamento das bordas */
    cursor: pointer;
    /* Cursor em forma de mão */
}

footer {
    background-color: #363333b6;
    color: #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
    width: 10vw;
    padding: 8px;
    margin: auto;
}

/* tablet 768 992 */
@media screen and (min-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        background-image: linear-gradient(to bottom, #123f151a, #e7bfa5);
        background-repeat: repeat;
        background-position: top;
        background-attachment: scroll;
        background-image: url("../fundo.index.jpeg");
    }

    #burguer {
        background-color: #123f1500;
        display: block;
        color: whitesmoke;
        text-align: center;
        margin: auto;
        padding: 7px;
        width: 90vw;
        cursor: pointer;
        border-radius: 0px 0px 7px 7px;
    }

    menu {
        margin: auto;
    }

    menu>ul {
        list-style-type: none;
    }

    menu>ul>li>a {
        padding: 7px;
        text-decoration: none;
        text-align: center;
        background-color: #0d330f;
        border-radius: 7px 7px 7px 7px;
        color: whitesmoke;
        margin: auto;
        display: block;
    }

    menu>ul>li>a:hover {
        background-color: #64af6e;
        color: whitesmoke;
        text-decoration: none;
        padding: 7px;
        width: 90vw;
    }

    main {
        width: 90vw;
        height: 100%;
        margin: auto;
        margin-top: 7px;
    }

    article>h2 {
        padding-bottom: 17px;
        width: 90vw;
        margin: auto;
    }

    article>p.paragrafo1 {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 10vw;
        margin: auto;
    }
}